BasedOnStyle: LLVM
IndentWidth: 4 
UseTab: Never
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine : false
AllowShortCaseLabelsOnASingleLine : false
AllowShortLoopsOnASingleLine : false
IndentCaseLabels: false
ColumnLimit: 120
IndentCaseLabels: true
